project: pearsontechnology
environments:
  - name: sample-app-environment
    namespace: sample-app
    deployment:
      method: rolling-upgrade
    services:
      - name: back
        port: 80
        annotations:
          - name: pod.beta.kubernetes.io/init-containers
            value: '[
            {
	            "name": "ca-init",
	            "image": "busybox",
	            "command": ["sh", "-c", "ls -lrt /data/bundle;cp /data/bundle/ca-internal /tmp/jksfile;ls -lrt /tmp; export JKS_PASS=`date +%s | sha256sum | base64 | head -c 32 ; echo`; env | grep -i JKS_PASS;sleep 10;"],
	            "volumeMounts": [{
		            "name": "ca-internal",
		            "mountPath": "/data/bundle"
	            }]
            }]'
        volumes:
          - name: ca-internal
            path: /data/bundle
            type: secret
