project: pearsontechnology
environments:
  - name: sample-app-environment
    namespace: sample-app
    deployment:
      method: rolling-upgrade
    services:
      - name: back
        port: 80
        annotations:
          - name: pod.beta.kubernetes.io/init-containers
            value: "[{\"name\": \"init-myservice\",\"image\": \"busybox\",\"command\": [\"sh\", \"-c\", \"until nslookup google.com; do echo waiting for google.com; sleep 240; done;\"]}]"
        env:
          - name: APP_PORT
            value: 80
          - secret: JKS_PASS
            value: ca-internal/keystore-password
        volumes:
          - name: ca-internal
            path: /data/bundle
            type: secret
